---
search: false
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
    font-size: 14px; // Override default of 16px
    @include breakpoint($medium) {
        font-size: 16px;
    }
    @include breakpoint($large) {
        font-size: 18px;
    }
    @include breakpoint($x-large) {
        font-size: 20px;
    }
}

body {
    font-family: "Blanco, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol";
}

.archive__item-teaser img {
    max-height: 115px; 
    object-fit: contain; 
    display:block; 
    margin-left:auto; 
    margin-right:auto;
}

figcaption {
    text-align: center;
}

.feature-image {
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    border: none;
    padding-bottom: 1em;
    max-height: 300px;
}

//.feature-image img {
//    max-height: 400px;
//    object-fit: contain;
//} 


p img {
    border: 1px solid #333;
    text-align: center;
}

figcaption {
    margin-top: -2.5em;
    width: 100%;
}

